# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Files
*.run

# Project Files
*.sublime*

# Temp Files
*.tmp

# Output Files
*.tst
*.out
*.output
*.data

# Binary Files
*.png
*.jpeg
*.doc
*.docx